:root {
    --text-color: rgb(228, 231, 231);
    --background-color: rgba(94, 94, 94, 0.9);
    --accent-color: rgb(255, 192, 74);
    --toggle-color: rgba(0, 0, 0, 0.6);
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #fffcf2;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.header {
    background-color: #000000;
    overflow: hidden;
}

.main__head {
    color: var(--text-color);
    padding: 8px 12px;
    font-size: 24px;
}

.main__head i {
    color: var(--accent-color);
}

.main__links ul{
    margin: 0;
}

.main__links ul li{
    list-style: none;
    font-size: 18px;
    display: inline-block;
    margin: 15px;
}

.main__links ul li:after {
    display:block;
    content: '';
    border-bottom: solid 3px var(--text-color);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
}

.main__links ul li:hover:after {
    transform: scaleX(1);
}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.main .diary,
.main .plus,
.main .today  {
    margin: 10px 30px;
}

.plus,
.today,
.diary {
    width: 300px;
    height: 350px;
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    transition: 300ms ease-in-out;
}

.plus:hover,
.today:hover,
.diary:hover {
    box-shadow: rgba(45, 45, 45, 0.4) 5px 5px, rgba(45, 45, 45, 0.3) 10px 10px;
    background-color: rgb(45, 45, 45);
    color: #f5f5f5;
}

.plus i,
.today i,
.diary i {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    font-size: 4em;
}

.main h2 {
    text-align: center;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
    font-size: 2em;
    line-height: 0.5em;
}

@media screen and (max-width: 780px){
    .main {
        width: 90vw;
        margin: 0 auto;
    }
    
    .plus,
    .today,
    .diary {
        max-width: 180px;
        height: 220px;
    }

    .plus i,
    .today i,
    .diary i {
        margin-top: 55px;
        font-size: 2.5em;
    }

    .main h2 {
        font-size: 1.5em;
    }
}

.services {
    width: 80vw;
    margin: 30px auto;
}

.services section h1 {
    font-family: 'Passion One', sans-serif;
    text-align: center;
    font-size: 2em;
}

.services section p {
    text-align: center;
}

.this {
    color: #ffc04a;
}