:root {
    --text-color: rgb(228, 231, 231);
    --background-color: rgba(94, 94, 94, 0.9);
    --accent-color: rgb(255, 192, 74);
    --toggle-color: rgba(0, 0, 0, 0.6);
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #fffcf2;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.header {
    background-color: #000000;
    overflow: hidden;
}

.main__head {
    color: var(--text-color);
    padding: 8px 12px;
    font-size: 24px;
}

.main__head i {
    color: var(--accent-color);
}

.main__links ul{
    margin: 0;
}

.main__links ul li{
    list-style: none;
    font-size: 18px;
    display: inline-block;
    margin: 15px;
}

.main__links ul li:after {
    display:block;
    content: '';
    border-bottom: solid 3px var(--text-color);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
}

.main__links ul li:hover:after {
    transform: scaleX(1);
}

.main {
    display: flex;
    justify-content: center;
}

.main .diet1,
.main .diet2 {
    font-family: 'Jua', sans-serif;
    border-radius: 5px;
    max-width: 300px;
    width: 100vw;
    height: 450px;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main .word {
    padding: 10px;
}

h1 {
    font-family: 'Jua', sans-serif;
    text-align: center;
}

ul {
    padding-left: 10px;
}

.main .word ul li {
    list-style: none;
}

.main .diet1 {
    background-image: url("../images/weightLoss.JPG");
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.main .diet2 {
    background: url("../images/gainWeight.JPG");
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.title {
    animation: fadeInAnimation ease 1s;
    animation-fill-mode: forwards;
}

.diet1 {
    animation: fadeInAnimation ease 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.diet2 {
    animation: fadeInAnimation ease 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
     }
}

.main .diet1,
.main .diet2 {
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.main .diet1:hover,
.main .diet2:hover {
    background-color: #ffdcaf;
}

.hidden {
    display: none;
    opacity: 0;
}

.lose,
.gain {
    justify-content: center;
    transform: translateY(-30px);
    transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contentLose,
.contentGain {
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    width: 60vw;
    padding: 5px 20px;
    text-align: center;
}

.lose.active,
.gain.active {
    display: flex;
    opacity: 1;
    transform: translateY(30px);
}
