:root {
    --text-color: rgb(228, 231, 231);
    --background-color: rgba(94, 94, 94, 0.9);
    --accent-color: rgb(255, 192, 74);
    --toggle-color: rgba(0, 0, 0, 0.6);
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #fffcf2;
}

h3 {
    font-family: 'Jua', sans-serif;
    display: none;
    margin: 20px 20px 0px 20px;
}

h3.up {
    display: inline-block;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.header {
    background-color: #000000;
    overflow: hidden;
}

.main__head {
    color: var(--text-color);
    padding: 8px 12px;
    font-size: 24px;
}

.main__head i {
    color: var(--accent-color);
}

.main__head .main__toggleBtn {
    display: none;
}

.main__head .workout__angledown i,
.main__head .workout__angleup i {
    position: relative;
    background-color: black;
    display: none;
    text-align: center;
    margin-top: 10px;
    padding: 3px 0;
    color: white;
    transition: 300ms ease-in-out;
    border-radius: 5px;
}

.main__head .workout__angledown i:hover,
.main__head .workout__angleup i:hover {
    background-color: #9a8c98;
}

.workout__angleup {
    display: none;
}

.main__links ul{
    margin: 0;
}

.main__links ul li{
    list-style: none;
    font-size: 18px;
    display: inline-block;
    margin: 15px;
}

.main__links ul li:after {
    display:block;
    content: '';
    border-bottom: solid 3px var(--text-color);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
}

.main__links ul li:hover:after {
    transform: scaleX(1);
}

.thisP {
    text-align: center;
    margin: 0;
    display: block;
    font-weight: bolder;
    font-size: 18px;
    color: var(--accent-color);
}

.sidebar {
    font-family: 'Staatliches', cursive;
    float: left;
    width: 200px;
    height: 100vh;
    background-color: #403d39;
    padding: 8px 20px;
}

.sidebar .sidebar__links p {
    margin-bottom : 30px;
    font-size: 19px;
}

.sidebar__links span {
    font-family: 'Jua', sans-serif;
}

.sidebar__links a {
    transition: 200ms ease-in-out;
}

.sidebar .sidebar__links a:hover {
    color: var(--accent-color);
}

.sidebar .sidebar__links .thisPage {
    color: var(--accent-color);
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.firstWorkout, .thirdWorkout {
    background-color: rgb(0, 0, 0);
    min-height: 200px;
    min-width: 300px;
    display: inline-block;
    margin: 5px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.secondWorkout {
    background-color: rgb(0, 0, 0);
    min-height: 300px;
    min-width: 200px;
    display: inline-block;
    margin: 5px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.firstWorkout {
    background: url("../images/latPullDown.JPG") no-repeat center;
    background-size: contain;
    overflow: hidden;
    border-radius: 8px;
}

.secondWorkout {
    background: url("../images/pullUps.JPG") no-repeat center;
    background-size: contain;
    overflow: hidden;
    border-radius: 8px;
}

.thirdWorkout {
    background: url("../images/barbellRow.JPG") no-repeat center;
    background-size: contain;
    overflow: hidden;
    border-radius: 8px;
}

.firstWorkout .first__Info,
.thirdWorkout .third__Info {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    position: relative;
    top: 290px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 400ms ease;
}

.secondWorkout .second__Info {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    position: relative;
    top: 290px;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 400ms ease;
}

.firstWorkout .first__Info h3,
.secondWorkout .second__Info h3,
.thirdWorkout .third__Info h3 {
    display: inline-block;
    color: var(--text-color);
    margin: 5px;
    transition: 250ms;
}

.firstWorkout .first__Info i,
.secondWorkout .second__Info i,
.thirdWorkout .third__Info i {
    color: var(--text-color);
    transition: 200ms;
}

.firstWorkout:hover .first__Info,
.secondWorkout:hover .second__Info,
.thirdWorkout:hover .third__Info {
    opacity: 1;
    transform: translateY(-290px);
}

.firstWorkout .first__Info .first__Open h3:hover,
.secondWorkout .second__Info .second__Open h3:hover,
.thirdWorkout .third__Info .third__Open h3:hover {
    color: var(--accent-color);
}

.firstWorkout .first__Info .first__Open i:hover,
.secondWorkout .second__Info .second__Open i:hover,
.thirdWorkout .third__Info .third__Open i:hover {
    color: var(--accent-color);
}

.modal1 {
    font-family: 'Jua', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    visibility: hidden;
    transition: 500ms;
}

.modal1 iframe {
    display: block;
    margin: 0 auto;
}


.modal1 ol {
    margin: 0;
    text-align: left;
    width: 550px;
}

.modal1 .firstModal {
    background-color: rgb(255, 240, 220);
    width: 630px;
    border-radius: 5px;
    transition: 300ms ease-in-out;
    transform: scale(0);
}

.modal1 a {
    font-size: 30px;
    display: block;
    margin: 5px auto;
    text-align: center;
    color: var(--accent-color);
    width: 30px;
}

.modal2 {
    font-family: 'Jua', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    visibility: hidden;
    transition: 500ms;
}

.modal2 iframe {
    display: block;
    margin: 0 auto;
}


.modal2 ol {
    margin: 0;
    text-align: left;
    width: 550px;
}

.modal2 .secondModal {
    background-color: rgb(255, 240, 220);
    width: 630px;
    border-radius: 5px;
    transition: 300ms ease-in-out;
    transform: scale(0);
}

.modal2 a {
    font-size: 30px;
    display: block;
    margin: 5px auto;
    text-align: center;
    color: var(--accent-color);
    width: 30px;
}

.modal3 {
    font-family: 'Jua', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    visibility: hidden;
    transition: 500ms;
}

.modal3 iframe {
    display: block;
    margin: 0 auto;
}


.modal3 ol {
    margin: 0;
    text-align: left;
    width: 550px;
}

.modal3 .thirdModal {
    background-color: rgb(255, 240, 220);
    width: 630px;
    border-radius: 5px;
    transition: 300ms ease-in-out;
    transform: scale(0);
}

.modal3 a {
    font-size: 30px;
    display: block;
    margin: 5px auto;
    text-align: center;
    color: var(--accent-color);
    width: 30px;
}

@media screen and (max-width: 776px){
    .main__head .workout__angledown i,
    .main__head .workout__angleup i {
        display: block;
    }

    .main__links ul li{
        display: none;
    }

    .workout__angledown.active {
        display: none;
    }

    .workout__angleup.active {
        display: block;
    }

    .main__links.active ul li{
        display: inline-block;
    }

    .sidebar.active {
        display: block;
    }

    .sidebar {
        display: none;
        float: none;
        width: 100vw;
        height: 212px;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .sidebar .thisPage {
        color: var(--accent-color);
    }

    .sidebar .sidebar__links p {
        margin: 0 0 5px 0;
        padding-top: 5px;
    }

    .main__head .main__toggleBtn{
        display: inline-block;
        position: absolute;
        top: 5px;
        right: 10px;
    }

    h3 {
        display: inline-block;
    }

    h3.up {
        display: none;
    }


}
