:root {
    --text-color: rgb(228, 231, 231);
    --background-color: rgba(94, 94, 94, 0.9);
    --accent-color: rgb(255, 192, 74);
    --toggle-color: rgba(0, 0, 0, 0.6);
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #fffcf2;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.header {
    background-color: #000000;
    overflow: hidden;
}

.main__head {
    color: var(--text-color);
    padding: 8px 12px;
    font-size: 24px;
}

.main__head i {
    color: var(--accent-color);
}

.main__links ul{
    margin: 0;
}

.main__links ul li{
    list-style: none;
    font-size: 18px;
    display: inline-block;
    margin: 15px;
}

.main__links ul li:after {
    display:block;
    content: '';
    border-bottom: solid 3px var(--text-color);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
}

.main__links ul li:hover:after {
    transform: scaleX(1);
}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.main .diary,
.main .plus,
.main .todayLog  {
    width: 300px;
    height: 300px;
    margin: 50px;
    background-size: 70%;
    overflow: hidden;
}

.diary {
    background: url(images/diary.png) no-repeat center #ffadad;
}

.todayLog {
    background: url(images/list.png) no-repeat center #ffd6a5;
}

.plus {
    background: url(images/plus.png) no-repeat center #fdffb6;
}

.main h1 {
    font-family: 'Black Han Sans', sans-serif;
    text-align: left;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 20px;
    position: relative;
    top: 280px;
    font-size: 30px;
    width: 300px;
    height: 300px;
    transition: 300ms ease-in-out;
    font-weight: 500;
}

.main .plus h1 {
    background-color: #ffadad;
}

.main .diary h1 {
    background-color: #ffd6a5;
}

.main .todayLog h1 {
    background-color: #a0c4ff;
}

.main .diary:hover h1,
.main .plus:hover h1,
.main .todayLog:hover h1 {
    transform: translateY(-280px);

}

@media screen and (max-width: 780px){
    .main .diary,
    .main .plus,
    .main .todayLog  {
        width: 200px;
        height: 200px;
        margin: 20px;
        background-size: 70%;
        overflow: hidden;
    }

    .diary,
    .todayLog,
    .plus {
        background: none;
    }

    .main h1 {
        padding: 10px;
        top: 0px;
        font-size: 25px;
        width: 200px;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
    
    .main .diary:hover h1,
    .main .plus:hover h1,
    .main .todayLog:hover h1 {
        transform: translateY(-00px);
    }

        
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }

}