:root {
    --text-color: rgb(228, 231, 231);
    --background-color: rgba(94, 94, 94, 0.9);
    --accent-color: rgb(255, 192, 74);
    --toggle-color: rgba(0, 0, 0, 0.6);
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #fffcf2;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.header {
    background-color: #000000;
    overflow: hidden;
}

.main__head {
    color: var(--text-color);
    padding: 8px 12px;
    font-size: 24px;
}

.main__head i {
    color: var(--accent-color);
}

.main__links ul{
    margin: 0;
}

.main__links ul li{
    list-style: none;
    font-size: 18px;
    display: inline-block;
    margin: 15px;
}

.main__links ul li:after {
    display:block;
    content: '';
    border-bottom: solid 3px var(--text-color);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
}

.main__links ul li:hover:after {
    transform: scaleX(1);
}

.time, h2 {
    text-align: center;
}

.main * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

form input, form button{
    border: none;
    background: #f4f3ee;
    padding: 0.5rem;
    width: 400px;
    height: 3rem;
    font-size: 1rem;
}
form button {
    width: 0px;
    font-size: 3rem;
}

form input {
    border-radius: 5px;
}

form button {
    color: rgb(255, 184, 126);
    background: rgb(255, 255, 255);
    transition: all 300ms ease;
    text-align: center;
    cursor: pointer;
}

form button:hover {
    color: rgb(255, 135, 49);
}

h2 {
    font-family: 'Jua', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.time {
    font-family: 'Jua', sans-serif;
    text-align: center;
    margin: 20px auto;
    margin-top: 40px;
    width: 400px;
    padding: 10px;
    background-color: #fffffc;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: rgb(50, 50, 50);
}

.time span {
    color: #f17070;
    font-weight: lighter;
}

.ul__list {
    margin-top: 20px;
    list-style: none;
}

.doList {
    margin: 0.5rem;
    background: #f4f3ee;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    width: 300px;
    transition: all 300ms ease-in-out;
}

.doList li {
    flex: 1;
}

.doList .list__workout {
    font-size: 1rem;
}

.completed__btn, .delete__btn {
    background: rgb(145, 219, 157);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: 300ms ease;
}

.list__btn {
    position: relative;
    top: 12.5px;
}

.delete__btn {
    background: rgb(247, 110, 110);
}

.completed__btn:hover {
    background: rgb(32, 216, 62);
}
.delete__btn:hover {
    background: rgb(247, 50, 50);
}

.ul__list .completed {
    text-decoration: line-through;
    opacity: 0.4;
}

.ul__list .fall {
    transform: translateY(4rem) rotateZ(20deg);
    opacity: 0;
}

.select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    width: 10rem;
}

.select {
    margin: 1rem;
    display: inline;
    position: relative;
    overflow: hidden;
    left: 2rem;
}

.filter__list {
    color: rgb(207, 91, 13);
    background-color: #f4f3ee;
    width: 12rem;
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: -8.7px;
    right: 0;
    padding: 0.7rem;
    pointer-events: none;
    color: var(--accent-color);
    background-color: #f4f3ee;
    transition: all 300ms ease;
}

.select:hover::after {
    color: #f4f3ee;
    background-color: var(--accent-color);
}

.chestRadio input {
    font-size: 1rem;
    border: none;
    padding: 1rem;
    height: 1rem;
    width: 1rem;
    font-size: 1rem;
    margin: 0.5rem;
    text-align: center;
}


.workoutSelect select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    width: 10rem;
    padding: 1rem;
    margin: 1rem auto;
    overflow: hidden;
    
    background-color: #f4f3ee;
}

.setSelect,
.weightSelect{
    display: inline-block;
    margin: auto;
}

.setSelect::after {
    content: "\25BC";
    position: relative;
    top: 0px;
    right: 30px;
    padding: 0.95rem;
    pointer-events: none;
    color: var(--accent-color);
    background-color: #f4f3ee;
    transition: all 300ms ease;
}

.setSelect:hover::after {
    color: #f4f3ee;
    background-color: var(--accent-color);
}

.weightSelect::after {
    content: "\25BC";
    position: relative;
    top: 0px;
    right: 30px;
    padding: 0.95rem;
    pointer-events: none;
    color: var(--accent-color);
    background-color: #f4f3ee;
    transition: all 300ms ease;
}

.weightSelect:hover::after {
    color: #f4f3ee;
    background-color: var(--accent-color);
}

.bodySelect::after {
    content: "\25BC";
    position: relative;
    top: 0px;
    right: 30px;
    padding: 0.95rem;
    pointer-events: none;
    color: var(--accent-color);
    background-color: #f4f3ee;
    transition: all 300ms ease;
}

.bodySelect:hover::after {
    color: #f4f3ee;
    background-color: var(--accent-color);
}

.resetInput {
    cursor: pointer;
    width: 4rem;
    height: 1.5rem;
    background-color: #ffd6a5;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: all 300ms ease;
}

.resetInput:hover {
    background-color: #ffad49;
}

form,
form .resetInput {
    font-family: 'Jua', sans-serif;
}